<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Developing</title>
</head>
<body>
    <style>
    </style>
    
    <div class="container mt-20 ">
        <div class="jumbotron jumbotron-fluid mt-20">
            <div class="container">
              <h1 class="display-4">WEBSITE UNDER DEVELOPMENT</h1>
              <p class="lead">WORKING ON THIS PAGE STAY TUNE.</p>
            <a href="/"><button class="btn btn-primary">Go Back To Home</button></a>
            </div>
          </div>
    </div>
</body>
</html>