{% extends 'base.html' %}


{% block title %}
Welcome
{% endblock title %}



{% block content %}
  <!-- Demo content -->
{{ ip }}
  <div class="row ">
    <div class="col-lg-12">
      <h3 class="display-4">Learn Programming Language</h3>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a href="/cpp" class="programming-link">
            <div class="card card-ud mt-2 mb-2" style="width: 15rem;">
              <img src="static/imgs/cpp.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Start Learning C++. Start from clicking on this.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/java" class="programming-link">
            <div class="card card-ud  mt-2 mb-2" style="width: 15rem; overflow:hidden;">
              <img src="static/imgs/java.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Start Learning Java . Start from clicking on this.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/python" class="programming-link">
            <div class="card card-ud mt-2 mb-2 " style="width: 15rem;">
              <img src="static/imgs/py2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Start Learning Python . Start from clicking on this.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
