{% extends 'base.html' %}


{% block title %}
Python
{% endblock title %}



{% block content %}
<style>
    p {
        font-weight: 1.2rem;
        margin: 7px 0px;
    }

    code {
        font-weight: 1.2rem;
        color: blue;
    }

    span {
        color: green;
    }

    pre {
        margin: 0px;
    }

    .codes {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        margin: 15px;
        padding: 5px 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <h4 class="display-4">Learn Python</h4>
    </div>
</div>

<a name="top"></a>

<div class="container">

    <!--List of content -->
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group mb-2" id="#top">
                <a href="#getstarted">
                    <li class="list-group-item">Get Started</li>
                </a>
                <a href="#syntax">
                    <li class="list-group-item">Syntax</li>
                </a>
                <a href="#comment">
                    <li class="list-group-item">Comments</li>
                </a>
                <a href="#var">
                    <li class="list-group-item">Variables</li>
                </a>
                <a href="#userinput">
                    <li class="list-group-item">User Inputs</li>
                </a>
                <a href="#datatype">
                    <li class="list-group-item">Data types</li>
                </a>
                <a href="#operators">
                    <li class="list-group-item">Operators</li>
                </a>
            </ul>
        </div>
        <div class="col-sm-6">
<!--
            <ul class="list-group mb-5">
                <li class="list-group-item">Strings</li>
                <li class="list-group-item">Contorl Flows</li>
                <li class="list-group-item">Arrays</li>
                <li class="list-group-item">Pointers</li>
                <li class="list-group-item">Refrences</li>
                <li class="list-group-item">Functions</li>
                <li class="list-group-item">Classes</li>
            </ul>
        -->
        </div>

    </div>

    <div class="row">
        <!-- Get Started -->
        <div class="col-sm-12">
            <a name="getstarted"></a>
            <h4 class="display-3 mb-2">Get Started</h4>
            <hr class="hr1">
            <h5 class=" mb-2 mt-2">Python Install</h5>
            <hr>
            <p> Many PCs and Macs will have python already installed. <br>

                To check if you have python installed on a Windows PC, search in the start bar for Python or run the
                following on the Command Line (cmd.exe): <br></p>
            <code>Open cmd: <br></code>
            <div class="codes">
                C:\Users\your name> python --version
            </div>
            <p> To install python in your system follow this blog below: <br> <a
                    href="https://phoenixnap.com/kb/how-to-install-python-3-windows">https://phoenixnap.com/kb/how-to-install-python-3-windows</a>
            </p>
            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                    Top</button></a>
        </div>
        <!-- Syntax -->
        <div class="col-sm-12">
            <a name="syntax"></a>
            <h4 class="display-3 mb-2">Python Syntax</h4>
            <hr class="hr1">
            <h5 class=" mb-2 mt-2">Python Syntax</h5>
            <hr>
            <p>Python syntax can be executed by writing directly in the Command Line <br></p>
            <code>Open Cmd: <br></code>
            <div class="codes">
                C:\Users\your name> python <br>
                Python 3.8.4 (tags/v3.8.4:dfa645a, Jul 13 2020, 16:46:45) [MSC v.1924 64 bit (AMD64)] on win32 <br>
                Type "help", "copyright", "credits" or "license" for more information. <br>
                >>> print("Hello World") # After this hit enter.
            </div>
            <code>output <br></code>
            <div class="codes">
                Hello World
            </div>
            <h5 class="mb-2 mt-2">Python Indentation</h5>
            <hr>
            <p>Indentation refers to the spaces at the beginning of a code line. <br>

                Where in other programming languages the indentation in code is for readability only, the indentation in
                Python is very important. <br>

                Python uses indentation to indicate a block of code. <br></p>
            <code>Example <br></code>
            <div class="codes">
                <pre>if 5 > 2:
    print("Five is greater than two!")</pre>
            </div>
            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                    Top</button></a>
        </div>
        <!-- Comments -->
        <div class="col-sm-12">
            <a name="comment"></a>
            <h4 class="display-3 mb-2">Python Comments</h4>
            <hr class="hr1">
            <h5 class=" mb-2 mt-2">creating a comments</h5>
            <p>Comments starts with a <code>#</code>, and Python will ignore them:</p>
            <code>Example <br></code>
            <div class="codes">
                <span>#This is a comment</span><br>
                print("Hello, World!")
            </div>
            <p>Comments can be placed at the end of a line, and Python will ignore the rest of the line: <br></p>
            <code>Example <br></code>
            <div class="codes">
                print("Hello, World!")<span>#This is a comment</span><br>
            </div>


            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                    Top</button></a>
        </div>
        <!-- Variables -->
        <div class="col-sm-12">
            <a name="comment"></a>
            <h4 class="display-3 mb-2">Python Variables</h4>
            <hr class="hr1">
            <h5 class="mb-2 mt-2">Variables</h5>
            <p>Variables are containers for storing data values.</p>
            <h5 class="mb-2 mt-2">Creating Variables</h5>
            <p>
                Python has no command for declaring a variable. <br>

                A variable is created the moment you first assign a value to it. <br>
            </p>
            <code> Example</code>
            <div class="codes">
                x = 5 <br>
                y = "John" <br>
                print(x) <br>
                print(y) <br>
            </div>
            <h5 class="mb-2 mt-2">Assigning Values to Variables</h5>
            <p>Python variables do not need explicit declaration to reserve memory space. The declaration happens
                automatically when you assign a value to a variable. The equal sign (=) is used to assign values to
                variables. <br>

                The operand to the left of the = operator is the name of the variable and the operand to the right of
                the = operator is the value stored in the variable <br></p>
            <code>Example</code>
            <div class="codes">

                age = 25 <span># An integer assignment</span>
                salary = 30000.0 <span> # A floating point</span>
                name = "John" <span># A string</span>
                print(age)
                print(salary)
                print(name)
            </div>
            <p>
                Here, 25, 30000.0 and "John" are the values assigned to age, salary, and name variables,
                respectively. This produces the following result −
            </p>
            <code>Output</code>
            <div class="codes">
                25 <br>
                30000.0 <br>
                jhon <br>
            </div>
            <h5 class="mb-2 mt-2">Multiple Assignment</h5>
            <p>Python allows you to assign a single value to several variables simultaneously.</p>
            <code>Example</code>
            <div class="codes">
                a = b = c = 1
            </div>
            <p>
                Here, an integer object is created with the value 1, and all three variables are assigned to the same
                memory location.
            </p>
            <br>
            <p>
                You can also assign multiple objects to multiple variables.
            </p>
            <code>Example</code>
            <div class="codes">
                a,b,c = 1,2,"john"
            </div>
            <p>Here, two integer objects with values 1 and 2 are assigned to variables a and b respectively, and one
                string object with the value "john" is assigned to the variable c.</p>
            <h5 class="mb-2 mt-2">Casting</h5>
            <p>If you want to specify the data type of a variable, this can be done with casting.</p>
            <code>Example</code>
            <div class="codes">
                x = str(3) <span># x will be '3'</span> <br>
                y = int(3) <span> # y will be 3</span> <br>
                z = float(3) <span># z will be 3.0</span> <br>
            </div>
            <h5 class="mb-2 mt-2">Get the type of variable</h5>
            <p>You can get the data type of a variable with the <code>type()</code> function.</p>
            <code>Example</code>
            <div class="codes">
                x = 5 <br>
                y = "John" <br>
                print(type(x)) <br>
                print(type(y)) <br>
            </div>
            <p>String variables can be declared either by using single or double quotes:</p>
            <div class="codes">
                x = "John" <br>
                <span> # is the same as</span>
                x = 'John' <br>
            </div>
            <h5 class="mb-2 mt-2">Case-Sensitive</h5>
            <p>Variable names are case-sensitive.</p>
            <code>Example</code>
            <div class="codes">
                a = 4 <br>
                A = "Sally" <br>
                <span> #A will not overwrite a</span>
            </div>
            <h5 class="mb-2 mt-2">Unpack a collection</h5>
            <p>If you have a collection of values in a list, tuple etc. Python allows you extract the values into
                variables. This is called unpacking.</p>
            <code>Example</code>
            <div class="codes">
                fruits = ["apple", "banana", "cherry"] <br>
                x, y, z = fruits <br>
                print(x) <br>
                print(y) <br>
                print(z) <br>
            </div>
            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                    Top</button></a>
        </div>
        <!--User Input -->
        <div class="col-sm-12">
            <a name="userinput"></a>
            <h4 class="display-3 mb-2">Python User Input</h4>
            <hr class="hr1">
            <h5 class="mb-2 mt-2">User Input</h5>
            <p>Python allows for user input.<br><br>

                That means we are able to ask the user for input.
                <br>
                <br>
                The method is a bit different in Python 3.6 than Python 2.7.
                <br>
                <br>
                Python 3.6 uses the <code>input()</code> method.
                <br>
                <br>
                Python 2.7 uses the <code>raw_input()</code> method.
            </p>
            <code>Example</code>
            <div class="codes">
                <span style="color: green;"> #Python 3.7 and above</span><br>
                username = <code>input</code>("Enter username:")<br>
                <code>print</code>("Username is: " + <span style="color: red;">username</span>)
            </div>
            <div class="codes">
                <span style="color: green;"> #Python 2.7</span><br>
                username = <code>raw_input</code>("Enter username:")<br>
                <code>print</code>("Username is: " + <span style="color: red;">username</span>)
            </div>
            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                    Top</button></a>
                    <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                        Top</button></a> </div>
        <!--Data Types-->
        <div class="col-sm-12">
            <a name="datatype"></a>
            <h4 class="display-3 mb-2">Python Data Types</h4>
            <hr class="hr1">
            <h5 class="mb-2 mt-4">Built-In Data Types</h5>
            <p>
                In programming, data type is an important concept.
                <br>
                <br>

                Variables can store data of different types, and different types can do different things.
                <br>
                <br>
                <br>

            <table class="table table-borderless table-striped">
                <caption>Built-in Data Types in Python
                </caption>
                <tbody>
                    <tr>
                        <td>Text Type</td>
                        <td><code>str</code></td>
                    </tr>
                    <tr>

                        <td>Numeric Types</td>
                        <td><code>int</code>,<code>float</code>,<code>complex</code></td>
                    </tr>
                    <tr>
                        <td>Sequence Types</td>
                        <td><code>list</code>,<code>tuple</code>,<code>range</code></td>
                    </tr>
                    <tr>
                        <td>Mapping Type</td>
                        <td><code>dict</code></td>
                    </tr>
                    <tr>
                        <td>Set Types</td>
                        <td><code>set</code>,<code>frozenset</code></td>
                    </tr>
                    <tr>
                        <td>Boolean</td>
                        <td>bool</td>
                    </tr>
                    <tr>
                        <td>Binary Types</td>
                        <td><code>bytes</code>,<code>bytearray</code>,<code>memoryview</code></td>
                    </tr>
                </tbody>
            </table>
            </p>
            <hr>
            <h5 class="mb-2 mt-2">Getting the Data Type</h5>
            <p>
                You can get the data type of any object by using the <code>type()</code> function:
            </p>
            <code>Example</code>
            <div class="codes">
                x = 5 <br>
                <code> print</code>(<code>type</code>(x))
            </div>
            <hr>
            <h5 class="mb-2 mt-2">Setting The Data Types</h5>
            <p>In Python, the data type is set when you assign a value to a variable: <br></p>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Example</th>
                        <th>Data types</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x = "Hello World"</td>
                        <td>str</td>
                    </tr>
                    <tr>
                        <td>x = 20</td>
                        <td>int</td>
                    </tr>
                    <tr>
                        <td>x = 20.1</td>
                        <td>float</td>
                    </tr>
                    <tr>
                        <td>x = 1j</td>
                        <td>complex</td>
                    </tr>
                    <tr>
                        <td>x = ['a','b']</td>
                        <td>list</td>
                    </tr>
                    <tr>
                        <td>x = ('a','b')</td>
                        <td>tuple</td>
                    </tr>
                    <tr>
                        <td>x = range(6)</td>
                        <td>range</td>
                    </tr>
                    <tr>
                        <td>x = {'a','b'}</td>
                        <td>set</td>
                    </tr>
                    <tr>
                        <td>x = b'hello'</td>
                        <td>bytes</td>
                    </tr>
                    <tr>
                        <td>x = True</td>
                        <td>bool</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h5 class="mb-2 mt-2">Type Casting</h5>
            <p>We can change one data type from another.</p>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Example</th>
                        <th>Output</th>
                        <th>Data types</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x = list("Hello World")</td>
                        <td>['H','e','l','l','o',' ','W','o','r','l','d']</td>
                        <td>list</td>
                    </tr>
                    <tr>
                        <td>x = float(20)</td>
                        <td>20.0</td>
                        <td>float</td>
                    </tr>
                    <tr>
                        <td>x = int(20.1)</td>
                        <td>int</td>
                    </tr>
                    <tr>
                        <td>x = tuple(['a','b'])</td>
                        <td>('a','b')</td>
                        <td>tuple</td>
                    </tr>
                    <tr>
                        <td>x = list(('a','b'))</td>
                        <td>['a','b']</td>
                        <td>list</td>
                    </tr>
                </tbody>
            </table>
            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                Top</button></a></div>
        <!--Operators-->
        <div class="col-sm-12">
            <a name="operators"></a>
            <h4 class="display-3 mb-2">Python Operators</h4>
            <hr class="hr1">
            <h5 class="mb-2 mt-2">Operators</h5>
            <p>Operators are used to perform operations on variables and values.
                <br>
                <br>
                In the example below, we use the + operator to add together two values:</p>
            <code>Example</code>
            <div class="codes">
                <code>print</code>(<span style="color: red;">10</span>+<span style="color: red;">5</span> )
            </div>
            <p class="mb-2 mt-2">Python divides the operators in the following groups:

            </p>
            <div class="col-sm-6">
                <ul class="list-group mb-2" id="#top">
                    <a href="#Arithmeticoperators">
                        <li class="list-group-item">Arithmetic operators</li>
                    </a>
                    <a href="#Assignmentoperators">
                        <li class="list-group-item">Assignment operators</li>
                    </a>
                    <a href="#Comparisonoperators">
                        <li class="list-group-item">Comparison operators</li>
                    </a>
                    <a href="#Logicaloperators">
                        <li class="list-group-item">Logical operators</li>
                    </a>
                    <a href="#Identityoperators">
                        <li class="list-group-item">Identity operators</li>
                    </a>
                    <a href="#Membershipoperators">
                        <li class="list-group-item">Membership operators</li>
                    </a>
                    <a href="#Bitwiseoperators">
                        <li class="list-group-item">Bitwise operators</li>
                    </a>
                </ul>
            </div>
            <!--Arithmetic--->
            <h5 class="mb-2 mt-2">Arithmetic Operators</h5>
            <p>Arithmetic operators are used with numeric values to perform common mathematical operations:</p>
            <table class="table table-borderless table-striped" name="Arithmeticoperators" >
                <thead>
                    <tr>
                    <th>Operators</th>
                    <th>Name</th>
                    <th>Example</th>
                </tr>
                </thead>
                <a name="Arithmeticoperators"></a>
                <tbody>
                    <tr>
                        <td>+</td>
                        <td>Addition</td>
                        <td>x + y</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Subtraction</td>
                        <td>x - y</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>Multiplication</td>
                        <td>x * y</td>
                    </tr>
                    <tr>
                        <td>/</td>
                        <td>Division</td>
                        <td>x / y</td>
                    </tr>
                    <tr>
                        <td>%</td>
                        <td>Modulus</td>
                        <td>x % y</td>
                    </tr>
                    <tr>
                        <td>**</td>
                        <td>Exponentiation</td>
                        <td>x ** y</td>
                    </tr>
                    <tr>
                        <td>//</td>
                        <td>Floor Division</td>
                        <td>x // y</td>
                    </tr>
                </tbody>
            </table>
            <!--Assignment-->
            
            <h5 class="mb-2 mt-2">Assignment Operators</h5>
            <p>Assignment operators are used to assign values to variables:

            </p>
            <table class="table table-borderless table-striped" name="Arithmeticoperators" >
                <thead>
                    <tr>
                    <th>Operators</th>
                    <th>Example</th>
                    <th>Same As</th>
                </tr>
                </thead>
                <a name="Assignmentoperators"></a>
                <tbody>
                    <tr>
                        <td>=</td>
                        <td>x = 5</td>
                        <td>x = 5</td>
                    </tr>
                    <tr>
                        <td>+=</td>
                        <td>x += 5</td>
                        <td>x = x + 5</td>
                    </tr>
                    <tr>
                        <td>-=</td>
                        <td>x -= 5</td>
                        <td>x = x - 5</td>
                    </tr>
                    <tr>
                        <td>*=</td>
                        <td>x *= 5</td>
                        <td>x = x * 5</td>
                    </tr>
                    <tr>
                        <td>/=</td>
                        <td>x /= 5</td>
                        <td>x = x / 5</td>
                    </tr>
                    <tr>
                        <td>%=</td>
                        <td>x %= 5</td>
                        <td>x = x % 5</td>
                    </tr>
                    <tr>
                        <td>//=</td>
                        <td>x //= 5</td>
                        <td>x = x // y</td>
                    </tr>
                    <tr>
                        <td>**=</td>
                        <td>x **= 5</td>
                        <td>x = x ** 5</td>
                    </tr>
                    <tr>
                        <td>&=</td>
                        <td>x &= 5</td>
                        <td>x = x & 5</td>
                    </tr>
                    <tr>
                        <td>
                            |=
                        </td>
                        <td>x |= 5</td>
                        <td>x = x | 5</td>
                    </tr>
                    <tr>
                        <td>^=</td>
                        <td> x ^= 5</td>
                        <td>x = x ^ 5</td>
                    </tr>
                    <tr>
                        <td><<=</td>
                        <td>x <<= 5</td>
                        <td>x = x << 5</td>
                    </tr>
                    <tr>
                        <td>>>=</td>
                        <td>x >>= 5</td>
                        <td>x = x >> 5</td>
                    </tr>
                </tbody>
            </table>
            <!--Comparison-->
            <h5 class="mb-2 mt-2">Comparison Operators</h5>
            <p>Comparison operators are used to compare two values:</p>
            <table class="table table-borderless table-striped">
                <thead>
                <tr>
                    <th>Operator</th>
                    <th>Name</th>
                    <th>Example</th>
                </tr>
            </thead>
            <a name="Comparisonoperators"></a>
            <tbody>
                <tr>
                    <td>==</td>
                    <td>Equal</td>
                    <td>x == y</td>
                </tr>
                <tr>
                    <td>!= </td>
                    <td>Not Equal</td>
                    <td>x != y</td>
                </tr>
                <tr>
                    <td>></td>
                    <td>Greater Than</td>
                    <td>x > y</td>
                </tr>
                <tr>
                    <td><</td>
                    <td>Less Than</td>
                    <td>x < y</td>
                </tr>
                <tr>
                    <td>>=</td>
                    <td>Greater Than or Equal To</td>
                    <td>x >= y</td>
                </tr>
                <tr>
                    <td><=</td>
                    <td>Less Than or Equal To</td>
                    <td>x <= y</td>
                </tr>
            </tbody>
            </table>
            <!--Logical-->
            <h5 class="mb-2 mt-2">Logical Operators</h5>
            <p>Logical operators are used to combine conditional statements:</p>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr><th>Operator</th>
                    <th>Description</th>
                <th>Example</th></tr>
                </thead>
                <a name="Logicaloperators"></a>
                <tbody>
                    <tr>
                        <td>and</td>
                        <td>Returns True if both statements are true</td>
                        <td>x < 5 and x < 10</td>
                    </tr>
                    <tr>
                        <td>or</td>
                        <td>	Returns True if one of the statements is true</td>
                        <td>x < 5 or x < 10</td>
                    </tr>
                    <tr>
                        <td>not</td>
                        <td>	Reverse the result, returns False if the result is true</td>
                        <td>not(x < 5 and x < 10)</td>
                    </tr>
                </tbody>
            </table>
            <!--Identity-->
            <h5 class="mb-2 mt-2">Identity Operators</h5>
            <p>Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

            </p>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>

                </thead>
                <a name="Identityoperators"></a>
                <tbody>
                    <tr>
                        <td>is</td>
                        <td>Returns True if both variables are the same object</td>
                        <td>x is y</td>
                    </tr>
                    <tr>
                        <td>is not</td>
                        <td>	Returns True if both variables are not the same object</td>
                        <td>x is not y</td>
                    </tr>
                </tbody>
            </table>
            <!--Membership-->
            <h5 class="mb-2 mt-2">Membership Operators</h5>
            <p>Membership operators are used to test if a sequence is presented in an object:</p>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>

                </thead>
                <a name="Membershipoperators"></a>
                <tbody>
                    <tr>
                        <td>in</td>
                        <td>	Returns True if a sequence with the specified value is present in the object</td>
                        <td>x in y</td>
                    </tr>
                    <tr>
                        <td>not in</td>
                        <td>Returns True if a sequence with the specified value is not present in the object</td>
                        <td>x not in y</td>
                    </tr>
                </tbody>
            </table>
            <!--Bitwise-->
            <h5 class="mb-2 mt-2">Bitwise Operators</h5>
            <p>Bitwise operators are used to compare (binary) numbers:</p>
            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <a name="Bitwiseoperators"></a>
                <tbody>
                    <tr>
                        <td>&</td>
                        <td>AND</td>
                        <td>Sets each bit to 1 if both bits are 1</td>
                    </tr>
                    <tr>
                        <td>|</td>
                        <td>OR</td>
                        <td>Sets each bit to 1 if one of two bits is 1</td>
                    </tr>
                    <tr>
                        <td>^</td>
                        <td>XOR</td>
                        <td>	Sets each bit to 1 if only one of two bits is 1</td>
                    </tr>
                    <tr>
                        <td>~</td>
                        <td>NOT</td>
                        <td>Inverts all the bits</td>
                    </tr>
                    <tr>
                        <td><<</td>
                        <td>Zero fill left shift</td>
                        <td>Shift left by pushing zeros in from the right and let the leftmost bits fall off</td>
                    </tr>
                    <tr>
                        <td>>></td>
                        <td>Signed right shift</td>
                        <td>Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off</td>
                    </tr>
                </tbody>
            </table>
            <a href="#top"> <button class="btn btn-primary-outline float-right"><i class="fa fa-arrow-up"></i>
                Top</button></a>
        </div>
        <!--Next-->
    </div>
</div>



{% endblock content %}