{% extends 'base.html' %}


{% block title %}
Python
{% endblock title %}



{% block content %}

<style>
    .answerBlock {
        margin: 15px 0px;
    }

    .buttonGroup {
        margin: 5px 0px;
    }

    #btn {
        margin-left: 10px;
    }

    .spotify {
        display: hidden;
    }
</style>

<div class="container">
    <div id='row' class="row">
        <div class="col-sm-12">
            <h4 class="display-3 mb-2">Python Quiz</h4>
            <hr class="hr1">
        </div>
        <div class="col-sm-12">
            <div class="btn-toolbar" id="sets" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2 mb-5" role="group" aria-label="First group">
                    <a class="btn btn-secondary active" id="default" href="/python-quiz" name="set1" role="button">Set
                        1</a>
                    <a class="btn btn-primary" id="py-set-2" href="#" onclick="change(1)" name="set2" role="button">Set 2</a>
                    <a class="btn btn-primary" id="py-set-3" href="#"onclick="change(2)" name="set3" role="button">Set 3</a>
                    <a class="btn btn-primary" id="py-set-4" href="#"onclick="change(1)" name="set4" role="button">Set 4</a>
                    <a class="btn btn-primary" id="py-set-5" href="#"onclick="change(0)" name="set5" role="button">Set 5</a>
                </div>
            </div>
        </div>
        <div id="MainBlock"></div>
    </div>

    <script>
        var header = document.getElementById("sets");
        var btns = header.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("btn-secondary active");
                current[0].className = current[0].className.replace("btn-secondary active", "btn-primary");
                this.className = "btn btn-secondary active";
            });
        }

        function change(id)
        {
            document.getElementById("MainBlock").innerHTML = genrateQuiz(id);
        }

    </script>
    <script src="{{ url_for('static' , filename='js/quiz.js') }}"></script>
    <script src="{{ url_for('static' , filename='js/pyquiz.json') }}"></script>
    <script src="{{ url_for('static' , filename='js/sets.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% endblock content %}